---

---

<nav class="navbar">
  <div class="container">
    <ul class="navbar__menu">  
      <li class="navbar__menu-item">
        <a href="/" class="navbar__menu-link">Home</a>
      </li>
      <li class="navbar__menu-item link2">
        <a href="/entradas" class="navbar__menu-link">Entradas</a>
      </li>
    </ul>
  </div>

  <style>
    .navbar {
      background-color: transparent;
      color: white;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .navbar__brand {
      color: white;
      text-decoration: none;
    }

    .navbar__menu {
      display: flex;
      text-align: center;
      list-style: none;
    }

    .navbar__menu-item {
      width: 150px;
    }

    .link2 {
      border-left: 1px solid white;
    }

    .navbar__menu-link:hover {
      color: #8b8b85;
      transform: scale(1.1);
    }

    .navbar__menu-link {
      color: white;
      font-size: 20px;
      text-decoration: none;
    }
  </style>
</nav>